.ion-item-home {
  background-color: #f8f8f8;
  width: 95%;
  margin: 5px auto;
  font-weight: bold;
  border-radius: 10px;
  --border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}

ion-item {
  margin: 5px auto;
  --min-height: 30px;
}

ion-label {
  font-weight: 500;
}
ion-searchbar {
  padding: 1px;
}
/* ion-content {
  background-color: var(--ion-color-light);
}
 */
ion-title {
  text-align: center;
}

