<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      preferences
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-item-group>
          <ion-item-divider color="secondary">
            <ion-label>Automatic note saving (minute - 0 means no saving)</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-range min="0" max="10" step="2" snaps="true" pin="true" [(ngModel)]="savingInterval" debounce="1000"
              (ionChange)="persistSavingInterval($event)">
              <ion-icon size="small" slot="start" name="remove"></ion-icon>
              <ion-icon size="small" slot="end" name="add"></ion-icon>
            </ion-range>
            <ion-chip color="primary">
              <ion-label>{{savingInterval}}</ion-label>
            </ion-chip>
          </ion-item>

          <ion-item-divider color="secondary">
            <ion-label>Remote Cloudant Database URL</ion-label>
            <ion-button size="small" shape="round" fill="outline" slot="end" (click)="showSupportText()">help<ion-icon
                size='small' slot="end" name="help"></ion-icon>
            </ion-button>
          </ion-item-divider>
          <ion-item>
            <ion-input type="text" [(ngModel)]="remoteDBURL" (ngModelChange)="checkURLValidity()" placeholder="https://userid:password@url/db"
              clear-input="true"></ion-input>
          </ion-item>
          <ion-button expand="full" [disabled]="!valid" (click)="syncWithRemoteDB()">
            <ion-icon slot="start" class="bigger" src="assets/icon/sync.svg"></ion-icon>
            Sync local <br> with remote DB
          </ion-button>
          <ion-button expand="full" [disabled]="!valid" (click)="replAndSyncWithRemoteDB()">
            <ion-icon slot="start" class="bigger" src="assets/icon/replAndSync.svg"></ion-icon>
            Overwrite local <br> with remote DB
          </ion-button>
        </ion-item-group>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loading">
      <ion-col>
        <h5 text-center margin-top>Loading</h5>
        <div text-center><IMG SRC="assets/icon/Blocks-1.2s-100px.gif"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>